<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>Roll Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/RNLogo.png') }}" type="image/x-icon">
  </head>
  <body>
    <main>
      <div class="signup-container">
        <header class="brand-container">
            <img src="{{ url_for('static', filename='images/wordmark_white.png') }}" alt="Roll Logo" class="logo">
        </header>
        <main class="flex-signup">
            <h1 class="intro bold pearl">Data-driven analytics to level-up your game</h1>  
            <h2 class="pearl bold call-signup">Sign up for our beta.</h2>
            <form class="sign-up-form" id="subscribeForm" method="post">
                <h4 class="form-title semi-bold txt-center pearl">Subscribe</h4>
                <p class="form-txt txt-center pearl">Receive updates and exclusive access to our beta.</p>
                <span class="email-input pearl">
                    <input type="email" placeholder="Email" class="email-field" id="email" name="email">
                    <p id="responseMessage"></p>
                    <button type="submit" class="signup-btn black">Sign Up</button>
                </span>
            </form>
            <p class="reward-txt pearl semi-bold">The first 1000 users will be rewarded within the Roll ecosystem.</p>
        </main>
    </div>
      <div class="jiu-jitsu-container">
        <h4 class="bold pearl jj-title">JIU JITSU IS:</h4>
        <hr class="typing-top" id="topLine">
        <div class="typing-effect">
          <span id="typing"></span><span class="cursor" id="cursor"></span>
        </div>
        <hr class="typing-btm" id="btmLine">
        <span class="bold no-limits emerald" id="no-limits"><span class="roll" id="roll">ROLL&nbsp;</span>WITHOUT LIMITS</span>
      </div> 
    </main>
    <script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/subscribe.js') }}"></script>
  </body>
</html>