<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>Roll Notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/RNLogo.png') }}" type="image/x-icon">
  </head>
  <body>
    <section class="jj-section">
    <div class="jiu-jitsu-container" id="jjContainer">
      <h4 class="bold pearl jj-title" id="jjTitle">JIU JITSU IS:</h4>
      <hr class="typing-top" id="topLine">
      <div class="typing-effect">
        <span id="typing"></span><span class="cursor" id="cursor"></span>
      </div>
      <hr class="typing-btm" id="btmLine">
      <div class="no-limits" id="no-limits">
        <span class="bold no-limits-txt emerald"><span class="roll" id="roll">ROLL&nbsp;</span>WITHOUT LIMITS</span>
        <img class="no-limits-brand" src="{{ url_for('static', filename='images/BMark_pearl.png') }}"/>
      </div>
    </section>
    </div>
      <div class="signup-container" id="subscribeSection">
        <header class="brand-container">
            <img src="{{ url_for('static', filename='images/wordmark_white.png') }}" alt="Roll Logo" class="logo">
        </header>
        <main class="flex-signup">
            <h1 class="intro bold pearl">COMING SOON</h1>  
            <h2 class="pearl bold call-info">Personalised analytics to level-up your game</h2>
            <form class="sign-up-form" id="subscribeForm" method="post">
                <h4 class="form-title semi-bold txt-center pearl">Subscribe</h4>
                <p class="form-txt txt-center pearl">Stay updated and get early access to our launch.</p>
                <span class="email-input pearl">
                    <input type="email" placeholder="Email" class="email-field" id="email" name="email">
                    <p id="responseMessage" class="response-msg"></p>
                    <button type="submit" class="signup-btn black" id="submitButton">
                      <span id="buttonText">Sign Up</span>
                  </button>
                </span>
            </form>
        </main>
    </div> 
    <script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/subscribe.js') }}"></script>
  </body>
</html>