<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ROLL</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="https://imgur.com/v9KlILY" alt="Brand Logo" style="width:150px;height:auto;">
    </div>
    <p>Welcome to Roll!</p>
    <p>You’re one of the first on board and we won’t forget it.</p>
    <p>We are creating a digital BJJ ecosystem and are beyond excited to have you join us at the start of our journey.</p>
    <p>The first step we are taking is launching the beta version* of the Roll app.</p>
    <p>The Roll app aims to accelerate your learning by providing you with personalised insights on your game.</p>
    <p>We’ve built a world-class team including coaches, athletes, designers, and developers to craft an experience like no other in the jiu jitsu world.</p>
    <p>With the Roll app you will be able to seamlessly input details of your training or competition rounds and receive evidence-based insights as to which areas of your game are on-point and which could do with a bit of focused training to improve.</p>
    <p>Find out just how high percentage your “high-percentage moves” are!</p>
    <p>We’re currently putting the final touches on the design of the Roll app and will shortly be moving into the build phase.</p>
    <p>We’d love you to participate in the beta and answer some short questionnaires to help us shape the future of Roll together.</p>
    <p>We’re excited to work with you and hope to see you on the mats (digital or physical!)</p>
    <p>All the best,<br>David (Founder @ Roll)</p>
    <small>* This beta will only be available on iOS. Future versions will also launch on Android and Web.</small>
</body>
</html>
